{% load i18n wagtailcore_tags menu_tags %}
{% get_menu "main-right" as rmenu %}
{% get_menu "main-left" as lmenu %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light p-3 shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Skill DB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if lmenu %}
        {% for item in lmenu.menu_items.all %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-end">
        {% if rmenu %}
        {% for item in rmenu.menu_items.all %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>